<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>­ЪњќС┐іТе╣сЂ«сЃЕсЃќсѓ╣сЃѕсЃ╝сЃфсЃ╝</title>
  <link rel="icon" href="https://q1.qlogo.cn/g?b=qq&nk=1524152343&s=640" type="image/x-icon" />
  <link href="/styles/main.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
</head>